.edit-product {
  
    padding-top: 10rem;
     margin: 0 auto;
     display: grid;
     gap: 3rem 2rem;
     box-sizing: border-box
 
 }
 
 .edit-product {
     padding: 20px;
   }
   
   .modal-content {
     border-radius: 0;
   }
   
   .modal-header {
     background-color: #f44336;
     color: white;
   }
   
   .modal-footer {
     background-color: #f5f5f5;
   }
   
   .modal-footer .btn-secondary {
     color: #333;
   }
   
   .modal-footer .btn-danger {
     color: #fff;
     background-color: #f44336;
     border-color: #f44336;
   }
   
   .modal-footer .btn-danger:hover {
     background-color: #dc3545;
     border-color: #dc3545;
   }
   
   .modal-body p {
     margin-bottom: 0;
   }
   
 
 @media (min-width: 576px) {
   .edit-product {
     padding: 4rem 0;
   }
 }
 
 @media (min-width: 768px) {
   .edit-product {
     padding: 6rem 0;
   }
 }
 
 @media (min-width: 992px) {
   .edit-product {
     padding: 8rem 0;
   }
 }
 
 @media (min-width: 1200px) {
   .edit-product {
     padding: 10rem 0;
   }
 }
 